@media (max-width: 1540px) {
    .menu__btn{
        position: absolute;
        right: 40px;
        display: block;
        width: 50px;
        cursor: pointer;        
        div{
            background-color: #fff;
            height: 3px;
            &+div{
                margin-top: 5px;
            }
        }
    }

    .social__link{
        display: none;
    }
}