@font-face{

    font-family: 'Gelion';
    
    src: url('../fonts/Gelion-Regular.ttf');
    src: url('../fonts/Gelion-Bold.ttf');
    src: url('../fonts/Gelion-Light.ttf');
    src: url('../fonts/Gelion-Medium.ttf');
    
    
    }